/* Styles des blocs de service */
.service-block {
    display: flex;
    margin-bottom: 20px;
    height: 30vh;
}

/* Réorganisation des blocs de service en fonction de leur position */
.service-block:nth-child(even) .service-image,
.service-block:nth-child(odd) .service-content {
    order: 2;
}

.service-block:nth-child(even) .service-content,
.service-block:nth-child(odd) .service-image {
    order: 1;
}

/* Ajout d'un fond de couleur sur toute la largeur derrière un bloc sur deux */
.service-block:nth-child(even) {
    background-color: #262526;
    color: #F2F2F2;
}

/* Styles du contenu des blocs de service */
.service-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.service-content h3 {
    margin-top: 0;
}

.service-content p {
    margin-bottom: 0;
    text-align: center;
}

/* Styles des images dans les blocs de service */
.service-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.service-image img {
    max-width: 100%;
    border-radius: 20px;
}

/* Media query pour les écrans de petite taille */
@media (max-width: 767px) {
    .big-title {
        height: 20vh;
    }
    .service-image img {
        max-width: 100%;
        border-radius: 20px;
        height: 75%;
        object-fit: cover;
        padding: 10px;
    }
    .service-block {
        display: flex;
        margin-bottom: 20px;
        height: 45vh;
    }
    .service-image {
        display: none;
    }
    .icon {
        display: block;
        padding: 25px;
        text-align: center;
    }
    .fa-phone,
    .fa-car {
        padding-top: 0px;
    }
}

/* Media query pour les écrans de grande taille */
@media (min-width: 768px) {
    .service-block {
        padding: 10px 15vw 10px;
        text-align: center;
        margin-bottom: 30px;
    }

    .service-block img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
    }

    .service-block p {
        margin-top: 10px;
    }

    .icon {
        padding: 20px 0 10px;
    }

    .big-title {
        padding-right: 0;
        padding-left: 0;
    }
}
